.header_right{
   text-align: right;
   padding-top: 20px;
   
}
.header_right ul{
     list-style: none;
    display: inline-flex;
   
}
.header_right ul li a {
   padding: 10px 10px;
    font-size: 14px;
    color: #000000cf;
    list-style: none;
    text-decoration: none;
    font-weight: 500;

}
.header_right ul li a:hover{
   text-decoration: underline;
}

.appIcons{
 padding-right: 20px;
 margin-left: -5px;
}
.dropdown-toggle::after {
    display: none ;
   
}
.showName {
   position: absolute;
    left: -10%!important;
   
    border: 1px solid red;
    top: -2px!important;
}
.nav-link {
    display: inline;
   
}
.google-icon{
   text-align: center;
}
.google-icon img{
   
   height: 100px;
   width: auto;
   object-fit: contain;
}
.home_body{
   padding-top: 10%;
}